.flex{
    display: flex;
}
.heading{
    font-family: 'IBM Plex Serif', serif;
}
.category{
    font-family: 'IBM Plex Serif', serif;
}
.news{
    color:red;
}
.sport{
    color:blue;
}
.global{
    color:olivedrab;
}
.health{
    color:darkorange;
}
.politics{
    color:green;
}
.crime{
    color:mediumpurple;
}
.navHr{
    color:black;
    border: solid 1px black;
}
p {
    font-family: 'Roboto', san-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: #000000;
    margin-bottom: 20px;
}

h5 {
    font-family: 'Roboto', san-serif;
    font-size: 12px;
}
.topStory h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 27px;
    font-weight: bold;
}

.tag {
    background-color: black;
    padding: 7px;
    width: fit-content;
    height: fit-content;
    width:77px;
}

.tag p {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 12px;
}

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid black;
    border-bottom: none;
}

.author{
   
   text-align: right;
    margin-top: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:#4e4e4e;
    margin-bottom: 7px;
}
.authorSmall{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color:#4e4e4e;
    margin:0px;
    text-align: right;
    
}
.small h3{
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    padding:0px
}

.bottomStory{
    margin-top: 50px;
}
.footer{
    background-color: #4e4e4e;
    height:300px;
    margin-top:200px;
    /* width:auto; */
}
.medium h3{
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 20px;
}
.medium p{
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
}
.adjustment{
    margin-bottom: 50px;
}

/* Article css */

.articleHeading{
    font-size: 38px;
    font-weight: bold;
    font-family: 'IBM Plex Serif', serif;
}
.articleDateWriter{
    font-size:22px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:600;
}
.nameMargin{
    margin-bottom: 180px;
    margin-left: 50px;
    margin-top: 50px;
}
/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Roboto', sans-serif; */